<div class="span3 well">
  <h4>Your Campaigns</h4>
  <hr />
  <p>You are involved in <strong><%= public_rooms(@current_user[:id]) %> public campaigns</strong>. That is <strong><%= percent_total_rooms(@current_user[:id]) %></strong> of public campaigns. You've also been drafted into <strong><%= private_rooms(@current_user[:id]) %> private campaigns</strong>. </p>
</div>