<h2>This is your Dashboard</h2>
<p class="lead">Monitor your Campaigns</p>
<div class="tabbable">
  <ul class="nav nav-pills">
    <li ><a href="#alerts" data-toggle="pill">Alerts</a></li>
    <li class="active"><a href="#search" data-toggle="pill">Search</a></li>
    <li><a href="#metrics" data-toggle="pill">Metrics</a></li>
  </ul>
  <div class="pill-content">
    <div class="pill-pane" id="alerts">
      <p>I'm the alerts section</p>
    </div>
    <div class="pill-pane active" id="search">
      <%= render partial: "search/search_pane" %>
    </div>
    <div class="pill-pane" id="metrics">
      <div class="jumbotron">
        <h3>Metrics & Statistics <small>Keep track of the things</small></h3>
      </div>
      <div class="row">
        <%= render partial: "total_user_stats" %>
        <%= render partial: "total_campaign_stats" %>
        <%= render partial: "user_stats" %>
      </div>
    </div>
  </div>
</div>