<div id="messages" class="span5">
  <div class="row">
    <div class="span1">
      <h3>From</h3>
    </div>
    <div id="message-head" class="span4">
      <h3>Message</h3>
    </div>
  </div>
  <div class="row adminmsg">
    <div class="span4">
      <p>Welcome to the <%= @chat_room.title %> campaign, <%= current_user[:user_name] %>. Please post your comments below. Remember they will be included in the campaign record!</p>
    </div>
  </div>
  <% if @messages %>
    <% @messages.each do |message| %>
      <%= render partial: "message", locals: { message: message } %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="span1">
        <p></p>
      </div>
      <div class="span4">
        <p>There are no posts in this campaign yet. Be the first!</p>
      </div>
    </div>
  <% end %>
</div>