<div class="row span2 well">
  <h3>Room Information</h3>
  <p>
  <a class="btn btn-danger" data-toggle="modal" href="#emailModal"><%= image_tag 'icons/mailV1.png' %> Post via Email</a></p>
  <a class="btn btn-danger" data-toggle="modal" href="#githubModal"><%= image_tag 'icons/octocatV1.png' %> Link to Github</a>
  <div>
</div>
</div>
