<div class="row well span2">
  <h3>Team Members</h3>
  <h4><a href="#">John Foo</a> <small>ONLINE</small></h4>
  <h4><a href="#">Mary Grace Parks</a> <small>ONLINE</small></h4>
  <h4><a href="#">Alice Winter</a></h4>
  <h4><a href="#">James Redlowe</a></h4>
  <h4><a href="#">Magic Johnson</a> <small>ONLINE</small></h4>
</div>
<div class="span2 well">
  <h3>Room Information</h3>
  <p>
  <a class="btn btn-danger" data-toggle="modal" href="#emailModal"><%= image_tag 'icons/mailV1.png' %> Post via Email</a></p>
  <a class="btn btn-danger" data-toggle="modal" href="#githubModal"><%= image_tag 'icons/octocatV1.png' %> Link to Github</a>
  <div>
      
</div>
</div>
