<div class="row well span2">
  <h3>Team Members</h3>
  <h4><a href="#">John Foo</a> <small>ONLINE</small></h4>
  <h4><a href="#">Mary Grace Parks</a> <small>ONLINE</small></h4>
  <h4><a href="#">Alice Winter</a></h4>
  <h4><a href="#">James Redlowe</a></h4>
  <h4><a href="#">Magic Johnson</a> <small>ONLINE</small></h4>
</div>
<div class="span2">
  <h3>Room Information</h3>
  <a class="btn btn-inverse" data-toggle="modal" href="#emailModal"><%= image_tag 'icons/mailV1.png' %><div>Post via Email</div></a>
  <a class="btn btn-inverse" data-toggle="modal" href="#githubModal"><%= image_tag 'icons/octocatV1.png' %><div>Link to Github</div></a>
  <a class="btn btn-inverse" data-toggle="modal" href="#historyModal">History</a>
  <div>
      
</div>
</div>
