<div class="span8">
  <h2 class="page_title">Castle <small>All Campaigns</small><%= link_to "Create a new chat room", new_chat_room_path, class: "btn btn-inverse pull-right" %></h2>
  
</div>
  
<% if @chat_rooms != [] %>
  <%= render partial: "chat_room_list" %>
<% else %>
  <p>There are no chat rooms available.</p>
<% end %>
