<h2>Castle Chat <small><%= @title %></h2>
<table>
  <tr>
    <td>Message from:</td>
    <td>Message</td>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td>TBD</td>
      <td><%= message %></td>
    </tr>
  <% end %>
</table>