<div class="span8" id="searchResults">
    <% if @search_results %>
      <table class="table">
        <thead>
          <tr>
            <th>Message</th>
            <th>Campaign</th>
            <th>User</th>
            <th>Date</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <% @search_results.each do |result| %>
          <tr>
            <td><%= result[1] %></td>
            <td><%= result[2] %></td>
            <td><%= result[0] %></td>
            <td><%= result[3] %></td>
            <td><a href="#" class="btn">Visit Room</a></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>There are no results. Please try a different search.</p>
    <% end %>
  </div>