<header>
  <div class="jumbotron">
    <h2>Search</h2>
    <p class="lead">Find a campaign. Or a conversation. The future depends on you...</p>
  </div>
</header>
<div class="row">
  <%= render partial: "search_form" %>
  <%= render partial: "search_results" %>
</div>