<div class="span8">
  <header class="jumbotron">
    <h1>Castle</h1>
    <p class="lead">Plan your next technological campaign.</p>
  </header>
  <hr />
  <div class="row">
    <div class="span6">
      <p>Welcome to Castle, the way to conquer your next app.</p>
      <p>Castle is the definitive record of your app from start to finish. It keeps track of commits to your Github repo and any discussions between your team in an easy-to-read log that any team member can access.</p>
    </div>
    <div class="well span2">
      <p>You are not currently logged in.</p>
      <a href="/auth/google" class="btn btn-info">Login Now</a>
    </div>
  </class>
</div>
