<header class="jumbotron">
  <h1>Castle Chat</h1>
  <p class="lead">Plan your next technological campaign.</p>
</header>
<hr />
<div class="row">
  <div class="span6">
    <p>Commodo wolf do, godard next level single-origin coffee letterpress raw denim. Consequat gluten-free quinoa, sed locavore direct trade swag mollit enim veniam ea before they sold out biodiesel. Accusamus placeat sed irony aliqua. Esse pariatur synth VHS odd future pitchfork umami, mustache godard wes anderson velit. Iphone lomo id tempor whatever sint. Truffaut put a bird on it viral etsy VHS, magna gluten-free farm-to-table sint veniam nostrud qui. Farm-to-table quis adipisicing, keffiyeh cliche gastropub ea mumblecore ad mollit sriracha polaroid cardigan carles qui.</p>
    <p>Incididunt consequat farm-to-table, hoodie scenester marfa cosby sweater flexitarian chillwave raw denim ut non. Reprehenderit photo booth retro, veniam esse nostrud chambray 3 wolf moon farm-to-table chillwave cardigan pop-up deserunt accusamus. Before they sold out reprehenderit adipisicing enim, lomo aliqua gastropub PBR high life 3 wolf moon organic aesthetic. Sapiente blog 3 wolf moon, put a bird on it adipisicing pop-up quis voluptate id veniam master cleanse letterpress. Wayfarers synth viral incididunt, lomo dreamcatcher sunt 3 wolf moon consequat. Chillwave irure typewriter, incididunt commodo farm-to-table small batch marfa consectetur ethnic. Twee minim exercitation 8-bit cupidatat incididunt.</p>
    <p>Jean shorts aliqua quis selvage non, reprehenderit culpa gastropub. Food truck carles nulla portland. Post-ironic locavore elit brunch 8-bit. Pickled banksy assumenda, velit helvetica +1 messenger bag est wes anderson mixtape fugiat ex nostrud post-ironic eiusmod. Pour-over 8-bit before they sold out +1, four loko sint banh mi. Pork belly placeat tofu stumptown ethnic magna officia, cosby sweater pariatur. Ullamco viral skateboard occupy eiusmod, VHS tattooed twee incididunt kogi ennui.</p>
    <p>Cosby sweater mixtape ethnic nulla chillwave, next level synth magna odd future truffaut pour-over before they sold out. Et odd future dolor DIY. Occupy seitan nesciunt, eiusmod delectus kale chips fanny pack street art irony ex. Salvia mlkshk occupy artisan deserunt. Banh mi ex sint put a bird on it hoodie sunt. Fanny pack hoodie craft beer commodo aliquip you probably haven't heard of them banksy odd future assumenda, salvia next level. Typewriter selvage voluptate, gentrify kogi art party carles pork belly id reprehenderit duis hella.</p>
  </div>
  <div class="well span4">
    <p>You are not currently logged in.</p>
    <a href="http://localhost:3002/auth/google" class="btn btn-info">Login Now</a>
  </div>
</class>
