// Place all the styles related to the chat_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_message_box {
  
}

.adminmsg {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top:10px;
  margin-bottom:10px;
}

.adminmsg p {
  padding-bottom:0px;
  margin:1em;
}